.primaryContainer {
  margin: 40px auto;
  max-width: 1600px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
ul a {
  padding-left: 20px;
  text-decoration: none;
  color: black;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}
.navigation img {
  max-width: 200px;
}

.newsletterSection {
  text-align: center;
}

#formNewsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner__background-black {
  background-color: black;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0 20px;
}
.banner img {
  max-width: 120px;
  padding: 0 30px;
}
.banner a {
  text-decoration: none;
  padding: 10px 30px;
}

.btn {
  background-color: brown;
  color: white;
  padding: 30px 20px;
  border: white 1px solid;
  margin: 10px;
  text-align: center;
}