@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.gridContainer {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.3fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr 3fr 3fr 1fr 1fr 3fr;
  gap: 20px 14px;
}
.gridContainer .grid__image6, .gridContainer .grid__image5, .gridContainer .grid__image4, .gridContainer .grid__image3, .gridContainer .grid__image2, .gridContainer .grid__image1 {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: #dfb862 2px solid;
}
.gridContainer .grid__image1 {
  grid-column: 1/span 1;
  grid-row: 3/span 3;
}
.gridContainer .grid__image2 {
  grid-column: 2/span 2;
  grid-row: 1/span 4;
}
.gridContainer .grid__image3 {
  grid-column: 0.8;
  grid-row: 2/span 3;
}
.gridContainer .grid__image4 {
  grid-column: 0.6666666667;
  grid-row: 5/span 3;
}
.gridContainer .grid__image5 {
  grid-column: 0.8333333333;
  grid-row: 4/span 3;
}
.gridContainer .grid__image6 {
  grid-column: 3/span 2;
  grid-row: 5/span 4;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
}

.background--opacity {
  background-color: rgba(0, 0, 0, 0.6039215686);
  min-height: 100%;
  width: 80%;
  z-index: -1;
  height: auto;
  position: fixed;
  pointer-events: none;
  margin: 0 auto;
  left: 10%;
  vertical-align: center;
}

.background__image {
  min-height: 100%;
  width: 100%;
  min-width: 1200px;
  z-index: -2;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.primaryContainer {
  margin: 4rem auto;
  max-width: 1600px;
  padding: 0 9rem;
}

.secondaryContainer {
  margin: 4rem auto;
  max-width: 1800px;
  padding: 0 4rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px auto 6px;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  color: #dfb862;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 8px auto 4px;
  color: white;
}

.btn {
  background-color: #e3ac36;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: white;
  padding: 0.5em 1.4em;
  border: none;
  text-align: center;
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
}
.btn:hover {
  background-color: white;
  color: #151212;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  list-style-type: none;
}
ul a {
  padding-left: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: #dfb862;
}

.navigation__background {
  background-color: #151212;
  width: 100%;
  position: fixed;
  margin-bottom: 2rem;
}
.navigation__background .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  margin: 0 auto;
  padding: 0.75rem 8rem;
  max-width: 1600px;
}
.navigation__background .navigation img {
  max-width: 150px;
}
.navigation__background .navigation .navigation__itemWithIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
}
.navigation__background .navigation .navigation__itemWithIcon img {
  width: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 6px;
}

.newsletterSection {
  text-align: center;
  max-width: 1600px;
  margin: 8rem auto 1.5rem;
}

.newsletter__text {
  max-width: 50%;
  font-size: 0.6em;
  margin-bottom: 1em;
}

#formNewsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: normal;
}
#formNewsletter #emailNewsletter {
  margin-right: 1em;
}

.banner__background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: normal;
  background-image: url("/images-telecharger/crowns-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 1em;
}
.banner__background img {
  max-width: 120px;
  padding-right: 1.8em;
}
.banner__background .btn--brown {
  background-color: #151212;
}
.banner__background .btn--brown:hover {
  background-color: white;
  color: #151212;
}

.presentationSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  text-align: center;
}
.presentationSection .presentation__title {
  letter-spacing: 1px;
  font-size: 2em;
  text-transform: uppercase;
}
.presentationSection .presentation__textContainer {
  max-width: 50%;
}

.presentationSection__3col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  align-content: normal;
  padding-top: 1em;
}
.presentationSection__3col .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  padding: 10px 30px;
}
.presentationSection__3col .presentation__img {
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.presentationSection__3col .presentation__subtitle {
  font-size: 1.2em;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: normal;
}
.statsContainer img {
  max-width: 40%;
  margin-right: 20px;
}
.statsContainer .statsTextContainer {
  max-width: 60%;
  padding-right: 1rem;
}
.statsContainer .stats__title {
  font-size: 1.5em;
  letter-spacing: 1px;
}
.statsContainer .statsNumberContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  margin: 20px 0;
}
.statsContainer .statsNumberContainer .statsNumberContainer--right {
  padding-left: 40px;
}
.statsContainer .stats__numbers {
  font-weight: 700;
  font-size: 2.5em;
  color: #61a5cf;
  margin-bottom: -0.2em;
}
.statsContainer .stats__text {
  margin: 0 auto 4px;
}

.cardsSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cardsSectionContainer .cards__title {
  font-size: 1.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.cardsSectionContainer .cards__text {
  text-align: center;
  max-width: 60%;
}
.cardsSectionContainer .cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: normal;
  margin-top: 1.2em;
  background-image: url("/images-telecharger/cards-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.3em;
  border: #dfb862 2px solid;
}
.cardsSectionContainer .cardsContainer .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  margin-top: 10px;
}
.cardsSectionContainer .cardsContainer .card .card__title {
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}
.cardsSectionContainer .cardsContainer .card .card__subtitle {
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 400;
}
.cardsSectionContainer .cardsContainer .card .card__img {
  max-width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: #dfb862 2px solid;
}
.cardsSectionContainer .cardsContainer .card .card__icon {
  color: #dfb862;
  font-size: 1.3em;
  padding-top: 0.3em;
  padding-right: 6px;
}
.cardsSectionContainer .cardsContainer .card--left {
  margin-right: 20px;
}
.cardsSectionContainer .cardsContainer .card--right {
  margin-left: 20px;
}