*
    box-sizing: border-box

body 
    margin: 0 auto
    width: 100%


@mixin displayFlexProperties($direction: column, $justify: flex-start, $alignItems: stretch, $alignContent: normal)
    display: flex
    flex-direction: $direction
    justify-content: $justify
    align-items: $alignItems
    align-content: $alignContent

.primaryContainer 
    margin: 4rem auto
    width: 80%

.secondaryContainer
    margin: 4rem auto
    width: 90%

h1, h2, h3, h4, h5, h6
    margin: 20px 0 6px
    padding: 0
    font-family: $-primary-font
    font-weight: 700
    color: $-gold
    
p
    font-family: $-secondary-font
    font-size: 18px
    font-weight: 300
    line-height: 1.5em
    margin: 8px 0 4px
    color: white

.hidden
    display: none

%btn--hover-focus    
    background-color: white
    color: $-dark-brown
    text-decoration: underline

%btn--brown--hover-focus
    background-color: white
    color: $-dark-brown
    text-decoration: underline

.btn
    background-color: $-dark-gold
    font-size: 0.9em
    font-weight: 500
    letter-spacing: 0.5px
    color: white
    padding: 0.8em 1.5em
    border: none
    text-align: center
    text-decoration: none
    font-family: $-secondary-font
    &:hover
        @extend %btn--hover-focus
    &:focus
        @extend %btn--hover-focus

.btn--brown
    @extend .btn
    background-color: $-dark-brown
    &:hover
        @extend %btn--brown--hover-focus
    &:focus
        @extend %btn--brown--hover-focus

%hoverInputs
    box-shadow: inset 0px 0px 15px 3px rgba(223,184,98,0.5)

%focusInputs
    background-color: $-gold
    color: white
    outline: none

%inputs
    padding: 0.4em
    font-size: 0.8em
    font-family: $-secondary-font
    border: $-primary-border
    color: $-dark-gold

%nav--elements
    text-transform: uppercase
    text-decoration: none
    letter-spacing: 1px
    font-size: 0.8rem
    color: $-gold

@media screen and (max-width: 1200px)
    p
        font-size: 16px

@media screen and (max-width: 800px)
    .primaryContainer 
        margin: 3rem auto

    .secondaryContainer
        margin: 3rem auto

    p
        font-size: 14px


@media screen and (max-width: 700px)
    .btn
        font-size: 0.8em
        font-weight: 500
        padding: 0.7em 1.3em