
.mapFormContainer
    @include displayFlexProperties(column, flex-end)
    margin: 4rem auto
    position: relative

.map
    z-index: -1
    width: 100%
    height: 100%
    border-top: $-primary-border
    border-bottom: $-primary-border
    position: absolute
    top: 0
    left: 0

.formContainer
    @include displayFlexProperties($direction: column, $alignItems: flex-end)
    padding: 0
    margin: 4rem 4rem


.inputControl--row
    display: flex
    flex-direction: row

.inputControl__required
    color: white
    font-size: 0.8em
    margin-left: 4px

.inputControl__required--leftOffset
    @extend .inputControl__required
    margin-left: -4px

.formContact
    background-color: $-dark-brown
    padding: 2em
    border: $-secondary-border
    max-width: 40%

.formContact__title
    font-size: 1.2em
    margin-top: 0 

.formContact__text
    margin-bottom: 1em

.inputsContainer
    @include displayFlexProperties(column)

    .inputsContainer__input
        width: 100%
        margin-bottom: 0.5em
        padding: 0.4em
        font-size: 0.8em
        font-family: $-secondary-font
        border: $-primary-border
        color: $-dark-gold

        &:hover
            @extend .hoverInputs

        &:focus
            @extend .focusInputs

    .inputsContainer__input--left
        @extend .inputsContainer__input
        margin-right: 0.5em


.formNamesContainer
    @include displayFlexProperties(row, space-between)
        
    .formNamesContainer--left
        width: 100%
        margin-right: 0.25em
            
    .formNamesContainer--right
        width: 100%
        margin-left: 0.25em

.btn--contactForm
    @extend .btn
    margin-top: 1em

.inputControl
    .success
        border-color: rgb(55, 145, 99)

    .error
        border-color: rgb(181, 60, 70)


    > .errorMessage
        color: rgb(226, 43, 107)
        font-size: 0.8em
        padding-bottom: 0.5em


@media screen and (max-width: 1300px)
    .formContact
        max-width: 50%

@media screen and (max-width: 1000px)
    .formContact
        max-width: 60%

    .formNamesContainer
        @include displayFlexProperties(column)
            
        .formNamesContainer--left
            width: 100%
            margin-right: 0.25em
                    
        .formNamesContainer--right
            width: 100%
            margin-left: 0

@media screen and (max-width: 800px)
    .formContact
        max-width: 80%
    
    .formContainer
        @include displayFlexProperties($direction: column, $alignItems: center)

@media screen and (max-width: 700px)
    .formContact
        max-width: 90%

@media screen and (max-width: 600px)
    .formContact
        max-width: 100%