.gridContainer
    display: grid
    grid-template-columns: 1.3fr 1fr 1.3fr 1fr 1fr
    grid-template-rows: 3fr 1fr 1fr 3fr 3fr 1fr 1fr 3fr
    gap: 1.2em 0.8em
        
    %grid__imagesProperty
        height: 100%
        width: 100%
        object-fit: cover
        border: $-primary-border

    @mixin grid__image--position($column, $row)
        @extend %grid__imagesProperty
        grid-column: $column
        grid-row: $row

    .grid__image1
        @include grid__image--position(1 / span 1, 3 / span 3)
        
    .grid__image2
        @include grid__image--position(2 / span 2, 1 / span 4)

    .grid__image3
        @include grid__image--position(4 / 5, 2 / span 3)

    .grid__image4
        @include grid__image--position(2 / 3, 5 / span 3)

    .grid__image5
        @include grid__image--position(5 / 6, 4 / span 3)

    .grid__image6
        @include grid__image--position(3 / span 2, 5 / span 4)


@media screen and (max-width: 1000px)
    .gridContainer
        display: grid
        grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr
        grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 0.3fr
        gap: 0.8em
        

        @mixin grid__image--position($column, $row)
            grid-column: $column
            grid-row: $row

        .grid__image1
            @include grid__image--position(span 2, 3 / span 2)
            
        .grid__image2
            @include grid__image--position(3 / span 2, 2 / span 2)

        .grid__image3
            @include grid__image--position(3 / span 1, 4 / span 1)

        .grid__image4
            @include grid__image--position(2 / span 1, span 2)

        .grid__image5
            @include grid__image--position(4 / span 2, 4 / span 2)

        .grid__image6
            @include grid__image--position(2 / span 2, 5 / span 2)



@media screen and (max-width: 700px)
    .gridContainer
        display: grid
        grid-template-columns: 0.3fr 1fr 1fr 0.3fr
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr
        gap: 0.9em
        

        @mixin grid__image--position($column, $row)
            grid-column: $column
            grid-row: $row

        .grid__image1
            @include grid__image--position(span 2, 4 / span 1)
            
        .grid__image2
            @include grid__image--position(1 / span 4, span 1)

        .grid__image3
            @include grid__image--position(3 / span 2, 2 / span 1)

        .grid__image4
            @include grid__image--position(1 / span 2, 2 / span 1)

        .grid__image5
            @include grid__image--position(3 / span 2, 4 / span 1)

        .grid__image6
            @include grid__image--position(1 / span 4, 3 / span 1)