nav
    ul
        @include displayFlexProperties(row, $alignItems: center)
        list-style-type: none
        a
            @extend %nav--elements
            padding-left: 1.5rem
            &:hover
                color: white
            &:focus
                color: white

.navigation__background
    background-color: $-dark-brown
    width: 100%
    z-index: 3

.navigation
    @include displayFlexProperties(row, space-between, center)
    margin: 0 auto
    padding: 0.75rem 0
    width: 80%
    a
        &:focus
            border: white 2px solid
            padding: 4px
    .navigation__logo
        width: 150px
        height: auto

.navigation__icon
    width: 34px
    object-fit: cover
    height: auto

.navigation__hamburger
    display: none



@media screen and (max-width: 1360px)
    nav
        ul
            @include displayFlexProperties(row, $alignItems: flex-start)
            a
                padding-left: 1.4rem
                font-size: 0.6rem
    .navigation__icon
        width: 24px

@media screen and (max-width: 1130px)
    nav
        ul
            a
                padding-left: 1rem
                font-size: 0.5rem

    .navigation
        padding: 0.5rem 0
        .navigation__logo
            width: 110px


@media screen and (max-width: 935px)
    nav
        ul
            display: none

        .navigation__hamburger
            display: block
    
    .navigation
        padding: 0.5rem 0
        .navigation__logo
            width: 130px
