@import 'variables'
@import 'baseStyles'

body 
    @include displayFlexProperties(column, flex-start, center)


@import 'navigation'
@import 'slider'
@import 'grid'
@import 'stats'
@import 'cards'
@import 'contactForm'


.bodyBackground--opacity
    background-color: #0000009a
    min-height: 100%
    width: 80%
    z-index: -1
    height: auto
    position: fixed
    pointer-events: none
    margin: 0 auto
    left: 10%
    vertical-align: center

.bodyBackground__image
    min-height: 100%
    width: 100%
    min-width: 1200px
    z-index: -2
    height: auto
    position: fixed
    top: 0
    left: 0
    pointer-events: none




.newsletterSection
    @include displayFlexProperties(column, flex-start, center) 
    text-align: center
    max-width: 1600px
    margin: 4rem auto 1.5rem

.newsletter__text
    max-width: 50%
    font-size: 0.6em
    margin-bottom: 1em

.formNewsletter
    @include displayFlexProperties(row, center, center)

    .formNewsletter__email
        margin-right: 1em
        padding: 0.4em
        font-size: 0.8em
        font-family: $-secondary-font
        border: $-primary-border
        color: $-dark-gold

        &:hover
            @extend .hoverInputs

        &:focus
            @extend .focusInputs


.banner
    @include displayFlexProperties(row, center, center)
    background-image: url("../../images-telecharger/crowns-banner.jpg")
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    padding-top: 1em
    margin-top: -2rem

    img
        max-width: 120px
        padding-right: 1.8em

    .btn--brown
        background-color: $-dark-brown

        &:hover
            background-color: white
            color: $-dark-brown
            text-decoration: underline





.presentationSection
    @include displayFlexProperties($alignItems: center)
    text-align: center

    .presentation__title 
        letter-spacing: 1px
        font-size: 2em
        text-transform: uppercase
        margin-bottom: 6px

    .presentation__textContainer
        max-width: 50%


.presentationSection__3col
    @include displayFlexProperties($direction: row, $alignItems:baseline)
    padding-top: 1em

    .column
        @include displayFlexProperties(column, flex-start, center)
        padding: 10px 30px

    .presentation__img
        width: 50px
        object-fit: cover
        

    .presentation__subtitle
        font-size: 1.2em


