@import 'variables'
@import 'grid'

@mixin displayFlexProperties($direction: column, $justify: flex-start, $alignItems: stretch, $alignContent: normal)
    display: flex
    flex-direction: $direction
    justify-content: $justify
    align-items: $alignItems
    align-content: $alignContent

body 
    @include displayFlexProperties(column, flex-start, center)


.background--opacity
    background-color: #0000009a
    min-height: 100%
    width: 80%
    z-index: -1
    height: auto
    position: fixed
    pointer-events: none
    margin: 0 auto
    left: 10%
    vertical-align: center

.background__image
    min-height: 100%
    width: 100%
    min-width: 1200px
    z-index: -2
    height: auto
    position: fixed
    top: 0
    left: 0
    pointer-events: none

.primaryContainer 
    margin: 4rem auto
    max-width: 1600px
    padding: 0 9rem

.secondaryContainer
    margin: 4rem auto
    max-width: 1800px
    padding: 0 4rem

h1, h2, h3, h4, h5, h6
    margin: 20px auto 6px
    padding: 0
    font-family: $-primary-font
    font-weight: 700
    color: $-gold
    

p
    font-family: $-secondary-font
    font-size: 14px
    font-weight: 300
    line-height: 1.5em
    margin: 8px auto 4px
    color: white

.btn
    background-color: $-dark-gold
    font-weight: 500
    letter-spacing: 0.5px
    color: white
    padding: 0.5em 1.4em
    border: none
    text-align: center
    text-decoration: none
    font-family: $-primary-font

    &:hover
        background-color: white
        color: $-dark-brown


ul
    @include displayFlexProperties(row)
    list-style-type: none
    a
        padding-left: 1.5rem
        text-decoration: none
        text-transform: uppercase
        font-size: 0.7rem
        letter-spacing: 1px
        color: $-gold

.navigation__background
    background-color: $-dark-brown
    width: 100%
    position: fixed
    margin-bottom: 2rem

    .navigation
        @include displayFlexProperties(row, space-between, center)
        margin: 0 auto
        padding: 0.75rem 8rem
        max-width: 1600px

        img
            max-width: 150px




.newsletterSection
    text-align: center
    max-width: 1600px
    margin: 8rem auto 1.5rem

.newsletter__text
    max-width: 50%
    font-size: 0.6em
    margin-bottom: 1em

#formNewsletter
    @include displayFlexProperties(row, center, center)

    #emailNewsletter
        margin-right: 1em

.banner__background
    @include displayFlexProperties(row, center, center)
    background-image: url("/images-telecharger/crowns-banner.jpg")
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    padding-top: 1em

    img
        max-width: 120px
        padding-right: 1.8em

    .btn--brown
        background-color: $-dark-brown

        &:hover
            background-color: white
            color: $-dark-brown




.presentationSection
    @include displayFlexProperties()
    text-align: center


.presentationSection__3col
    @include displayFlexProperties($direction: row, $alignItems:baseline)

    .column
        @include displayFlexProperties()
        padding: 10px 30px

.presentation__title 
    letter-spacing: 1px
    font-size: 2em
    text-transform: uppercase
    
.presentation__subtitle
    font-size: 1.2em

.presentation__textContainer
    max-width: 50%
        




.statsContainer
    @include displayFlexProperties(row, space-between)

    img
        max-width: 40%
        margin-right: 20px

    .statsTextContainer
       max-width: 60%
       padding-right: 1rem

    .stats__title
        font-size: 1.5em
        letter-spacing: 1px
            
    .statsNumberContainer
        @include displayFlexProperties(row)
        margin: 20px 0

        .statsNumberContainer--right
            padding-left: 40px

    .stats__numbers
        font-weight: 700
        font-size: 2.5em
        color: $-blue
        margin-bottom: -0.2em

    .stats__text
        margin: 0 auto 4px


    


.cardsSectionContainer
    @include displayFlexProperties($justify: center)
    margin-top: 20px
    margin-bottom: 20px


    .cards__title
        font-size: 1.3em
        letter-spacing: 1px
        text-transform: uppercase

    .cards__text
        text-align: center
        max-width: 60%

    .cardsContainer
        @include displayFlexProperties(row, space-between)
        margin-top: 1.2em
        background-image: url("/images-telecharger/cards-background.jpg")
        background-repeat: no-repeat
        background-size: cover
        padding: 2.3em
        border: $-primary-border

        .card
            @include displayFlexProperties($alignItems: center)
            margin-top: 10px

            .card__title
                font-size: 1.1em
                letter-spacing: 1px
                text-transform: uppercase
                text-align: left

            .card__subtitle
                font-size: 0.7em
                text-transform: uppercase
                font-weight: 400

            .card__img
                max-width: 80%
                height: 100%
                object-fit: cover
                border: $-primary-border

            .card__icon
                color: $-green
                font-size: 1.3em
                padding-right: 6px
        
        .card--left
            margin-right: 20px

        .card--right
            margin-left: 20px

