@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')

$-red: #ce3434
$-blue: #317fb0
$-green: #39803c
$-beige: #ecc690
$-gold: #dfb862

*
    color: white

.bg
    min-height: 100%
    width: 100%
    min-width: 1200px
    z-index: -1
    height: auto
    position: fixed
    top: 0
    left: 0
    pointer-events: none

.primaryContainer 
    margin: 4rem
    max-width: 1600px

h1, h2, h3, h4, h5, h6
    margin: 10px auto
    padding: 0
    font-family: 'Cormorant Garamond', serif
    font-weight: 700

p
    margin: 10px auto
    padding: 0
    font-family: 'Lato', sans-serif
    font-size: 14px
    font-weight: 300
    line-height: 1.5em

header
    background-color: #141212bc

ul
    display: flex
    flex-direction: row
    list-style-type: none
    a
        padding-left: 1.5rem
        text-decoration: none
        text-transform: uppercase
        font-size: 0.8rem
        letter-spacing: 1px
        color: $-gold

.navigation
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 0 4rem 4rem 4rem
    padding: 0.75rem 0
    max-width: 1600px

    img
        max-width: 150px

.newsletterSection
    text-align: center

#formNewsletter
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

.banner__background-black
    background-color: black

.banner
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 20px 20px 0 20px

    img
        max-width: 120px
        padding: 0 30px

    a   
        padding: 10px 30px

.btn
    background-color: brown
    color: white
    padding: 10px
    margin: 10px
    border: white 1px solid
    text-align: center
    text-decoration: none
    font-family: 'Cormorant Garamond', serif
    

.presentationSection
    display: flex
    flex-direction: column
    text-align: center

.presentationSection__3col
    display: flex
    flex-direction: row
    align-items: baseline

    .column
        display: flex
        flex-direction: column
        padding: 10px 30px

.gridContainer
    display: grid
    grid-template-columns: 1.3fr 1fr 1.3fr 1fr 1fr
    grid-template-rows: 3fr 1fr 1fr 3fr 3fr 1fr 1fr 3fr
    gap: 20px 10px

    .gridContainer__image1
        grid-column: 1 / span 1
        grid-row: 3 / span 3
        height: 100%
        width: 100%
        object-fit: cover

    .gridContainer__image2
        grid-column: 2 / span 2
        grid-row: 1 / span 4
        height: 100%
        width: 100%
        object-fit: cover

    .gridContainer__image3
        grid-column: 4 / 5
        grid-row: 2 / span 3
        height: 100%
        width: 100%
        object-fit: cover

    .gridContainer__image4
        grid-column: 2 / 3
        grid-row: 5 / span 3
        height: 100%
        width: 100%
        object-fit: cover

    .gridContainer__image5
        grid-column: 5 / 6
        grid-row: 4 / span 3
        height: 100%
        width: 100%
        object-fit: cover
        
    .gridContainer__image6
        grid-column: 3 / span 2
        grid-row: 5 / span 4
        height: 100%
        width: 100%
        object-fit: cover
        
.statsContainer
    display: flex
    flex-direction: row
    justify-content: space-between

    img
        max-width: 40%
        margin-right: 20px

    .statsNumberContainer
        display: flex
        flex-direction: row
        margin: 20px 0

        .statsNumberContainer--right
            padding-left: 40px

    .statsNumber__numbers
        font-weight: 700
        font-size: 2em


.cardsSectionContainer
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 20px
    margin-bottom: 20px

    .cardsContainer
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 10px

        .card
            display: flex
            flex-direction: column
            align-items: center
            margin-top: 10px

            .card__img
                max-width: 80%
        
        .card--left
            margin-right: 20px

        .card--right
            margin-left: 20px